@font-face {
    font-family: "LibreBaskerville";
    src: url("/fonts/LibreBaskerville-Regular.woff") format("woff");
}

@font-face {
    font-family: "LibreBaskerville";
    src: url("/fonts/LibreBaskerville-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "LibreBaskerville";
    src: url("/fonts/LibreBaskerville-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/fonts/PlayfairDisplay.woff") format("woff");
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/fonts/PlayfairDisplay-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: 'lisettamedium';
    src: url('/fonts/lisetta-webfont.woff2') format('woff2'),
         url('/fonts/lisetta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}