
$background-color: #181818;
$break-small: 500px; 
$hpadding: 48px; // The side-padding
$hpadding-small: 16px; // The side-padding on mobile
$default-text-color: #cccccc;

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 1.2;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

.container {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	// margin for text elements but not media
	p, h1, h2, h3, h4, h5, h6, span, ul, ol {
		padding: 0 $hpadding;

		@media (max-width: $break-small){ 
			padding: 0 $hpadding-small;
		}
	}

	// exclude the padding from spans in code and katex
	.katex span, pre span {
		padding: 0 0;
	}

	article {
		// reduce header size for items within 
		// an article (e.g. a blog post)
		h1,h2,h3,h4,h5,h6 {
			margin-top: 36px;
			margin-bottom: 12px;
		}
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
		}
		h3,h4,h5,h6 {
			font-size: 18px;
		}

		a:hover {
			font-style: italic;
			text-shadow: 2px 2px 9px rgba(172, 172, 172, 1);
		}

	}

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
		filter: grayscale(100%);
		transition: all 2s ease 0s;
    }

	img.clicked {
		filter:  none;
	}
}

.recent {
	text-align: left;
	padding: 1em;
	margin: 1em auto;
	border: 2px solid $default-text-color;
	font-size: 20px;
	width: 80%;

	a {
		&:visited {
			color: $default-text-color;
		}

		&:link {
			color: $default-text-color;
		}

		&:hover {
			color: $default-text-color;
		}
	}
}

section {
	margin: 46px 0;
}

body {
	overflow-wrap: break-word;
    color: $default-text-color;
    background-color: $background-color;
}

// paragraphs and lists
p, ul, ol {
	font-weight: 300;
	line-height: 1.7;
	font-size: 16px;
	text-align: justify;
	margin-bottom: 16px;
}

ul, ol {
	p {
		padding: 0 0 !important;
	}
	@media (max-width: $break-small){
		list-style-position: inside;
	}
}

li {
	padding: 6px 0;
}

a {
	text-decoration: none;
    &:visited {
        color: #767676;
    }
    &:link {
        color: #767676;
    }
    &:hover {
        color: #939392;
	}
}

footer {
    background-color: #f2f1ed;
	text-align: center;
	display: block;
	padding: 24px $hpadding;

	@media (max-width: $break-small){
		padding-left: $hpadding;
		padding-right: $hpadding;	
	}
}

header {
    font-family: 'PlayfairDisplay';
	text-align: center;
	display: block;
	padding: 12px $hpadding;

	@media (max-width: $break-small){
		padding-left: $hpadding;
		padding-right: $hpadding;	
	}

    h1 {
        font-size: 30px;
		margin-bottom: -12px;
    }

	p {
		text-align: center;
		font-size: 15px;
		margin-bottom: 20px
	}

	a {
		&:visited {
        	color: $default-text-color;
    	}
    	&:hover {
        	color: $default-text-color;
    	}
	}

   }

.title-block {
	text-align: center;
	line-height: 1.7;
    margin-bottom: 50px;
}

// Code blocks
pre {
	display: block;
	margin: 12px 0;
	padding: 12px $hpadding;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	code {
		padding: 0;
		font-size: 100%;
		color: inherit;
		background-color: transparent;
	}
	@media (max-width: $break-small){ 
		padding-left: $hpadding-small;
		padding-right: $hpadding-small;
		border-radius: 0;
	}
}

// Quotes

// blockquotes
blockquote {
	font-style: italic;
	color: #555555;
	border-left: 6px solid #edeeef;
	max-width: 600px;
	blockquote {
		// add margin to nested blockquotes
	    margin-left: 8px;
	    margin-bottom: 0;
	    p {
	    	margin: 12px 0;
	    }
	}
	p {
		margin: 0;
	}

	margin: 36px 0;
}

// Cute inline images
.inline-qt {
    height: 1.7em;
    width: 1.7em;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
