h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.2
}

h1 {
    font-size: 72px
}

h2 {
    font-size: 48px
}

h3 {
    font-size: 36px
}

h4 {
    font-size: 24px
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto
}

.container p,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container span,
.container ul,
.container ol {
    padding: 0 48px
}

@media (max-width: 500px) {

    .container p,
    .container h1,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container h6,
    .container span,
    .container ul,
    .container ol {
        padding: 0 16px
    }
}

.container .katex span,
.container pre span {
    padding: 0 0
}

.container article h1,
.container article h2,
.container article h3,
.container article h4,
.container article h5,
.container article h6 {
    margin-top: 36px;
    margin-bottom: 12px
}

.container article h1 {
    font-size: 36px
}

.container article h2 {
    font-size: 24px
}

.container article h3,
.container article h4,
.container article h5,
.container article h6 {
    font-size: 18px
}

.container article a:hover {
    font-style: italic;
    text-shadow: 2px 2px 9px #acacac
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 2s ease 0s
}

.container img.clicked {
    filter: none
}

.recent {
    text-align: left;
    padding: 1em;
    margin: 1em auto;
    border: 2px solid #ccc;
    font-size: 20px;
    width: 80%
}

.recent a:visited {
    color: #ccc
}

.recent a:link {
    color: #ccc
}

.recent a:hover {
    color: #ccc
}

section {
    margin: 46px 0
}

body {
    overflow-wrap: break-word;
    color: #ccc;
    background-color: #181818
}

p,
ul,
ol {
    font-weight: 300;
    line-height: 1.7;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 16px
}

ul p,
ol p {
    padding: 0 0 !important
}

@media (max-width: 500px) {

    ul,
    ol {
        list-style-position: inside
    }
}

li {
    padding: 6px 0
}

a {
    text-decoration: none
}

a:visited {
    color: #767676
}

a:link {
    color: #767676
}

a:hover {
    color: #939392
}

footer {
    background-color: #f2f1ed;
    text-align: center;
    display: block;
    padding: 24px 48px
}

@media (max-width: 500px) {
    footer {
        padding-left: 48px;
        padding-right: 48px
    }
}

header {
    font-family: 'PlayfairDisplay';
    text-align: center;
    display: block;
    padding: 12px 48px
}

@media (max-width: 500px) {
    header {
        padding-left: 48px;
        padding-right: 48px
    }
}

header h1 {
    font-size: 30px;
    margin-bottom: -12px
}

header p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px
}

header a:visited {
    color: #ccc
}

header a:hover {
    color: #ccc
}

.title-block {
    text-align: center;
    line-height: 1.7;
    margin-bottom: 50px
}

pre {
    display: block;
    margin: 12px 0;
    padding: 12px 48px;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent
}

@media (max-width: 500px) {
    pre {
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 0
    }
}

blockquote {
    font-style: italic;
    color: #555555;
    border-left: 6px solid #edeeef;
    max-width: 600px;
    margin: 36px 0
}

blockquote blockquote {
    margin-left: 8px;
    margin-bottom: 0
}

blockquote blockquote p {
    margin: 12px 0
}

blockquote p {
    margin: 0
}

.inline-qt {
    height: 1.7em;
    width: 1.7em;
    vertical-align: middle;
    position: relative;
    top: -3px
}