<!DOCTYPE html>
<html>

<head>
    <title>
        {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/gh/ncase/nutshell@1.0.2/nutshell.js"></script>
</head>
{% block content %}
{{ page.content | safe }}
{% endblock %}
</html>