html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
}
.landing {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgb(190, 231, 232);
  background: linear-gradient(
    158deg,
    rgba(190, 231, 232, 1) 0%,
    rgba(255, 212, 201, 1) 55%
  );
}
.mountain-scene {
  position: relative;
  height: 75%;
  /* border-style: solid; */
  /* overflow:hidden; */
  /* margin: 0; */
}

/* Background Mountains

Triangles made using transform rotate
width = 1.41 x height(padding-bottom) */  

.tri {
  width: 30%;
  padding-bottom: 21%;
  position: relative;
  overflow: hidden;
}
.tri:before {
  content: "";
  position: absolute;

  width: 100%;
  height: 104%;
  background: rgb(254, 194, 178);
  background: linear-gradient(
    180deg,
    rgba(254, 194, 178, 1) 0%,
    rgba(235, 148, 126, 1) 55%
  );
  border-radius: 20px;

  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.small-mountains .tri:nth-child(1) {
  bottom: 0;
  position: absolute;
  left: -7%;
}

.small-mountains .tri:nth-child(2) {
  bottom: 0;
  position: absolute;
  left: 40%;
}

.small-mountains .tri:nth-child(3) {
  bottom: 0;
  position: absolute;
  right: -10%;
}

.tri2 {
  width: 48%;
  padding-bottom: 33%;
  position: relative;
  overflow: hidden;
}
.tri2:before {
  content: "";
  position: absolute;

  width: 100%;
  height: 104%;
  /* background: #726DA8; */
  background: rgb(254, 194, 178);
  background: linear-gradient(
    180deg,
    rgba(254, 194, 178, 1) 0%,
    rgba(235, 148, 126, 1) 55%
  );
  border-radius: 20px;

  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tall-mountains .tri2:nth-child(1) {
  bottom: 0;
  position: absolute;
  left: 0%;
}

.tall-mountains .tri2:nth-child(2) {
  bottom: 0;
  position: absolute;
  left: 14%;
}

.tall-mountains .tri2:nth-child(3) {
  bottom: 0;
  position: absolute;
  left: 50%;
}

/* Foreground mountains */

.tri3 {
  width: 19%;
  padding-bottom: 13%;
  position: relative;
  overflow: hidden;
}

.tri3:before {
  content: "";
  position: absolute;

  width: 100%;
  height: 104%;
  background: rgb(233, 243, 244);
  background: linear-gradient(
    180deg,
    rgba(233, 243, 244, 1) 0%,
    rgba(190, 231, 232, 1) 72%
  );
  border-radius: 18px;

  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tiny-mountains .tri3:nth-child(1) {
  bottom: 0;
  position: absolute;
  left: 9%;
}
.tiny-mountains .tri3:nth-child(2) {
  bottom: -3%;
  position: absolute;
  left: 31%;
}

.tiny-mountains .tri3:nth-child(3) {
  bottom: -7%;
  position: absolute;
  left: 42%;
}

.tiny-mountains .tri3:nth-child(4) {
  bottom: 0;
  position: absolute;
  left: 72%;
}

.tiny-mountains .tri3:nth-child(5) {
  bottom: -5%;
  position: absolute;
  left: 62%;
}
.ground {
  position: relative;
  height: 25%;
  background: rgb(255, 246, 202);
  background: linear-gradient(
    180deg,
    rgba(255, 246, 202, 1) 0%,
    rgba(255, 229, 164, 1) 72%
  );
}

#clouds {
  padding: 4vw 0;
}

/* base of cloud */
.cloud {
  height: 4vw;
  width: 13vw;
  background: white;
  border-radius: 40vw;
  position: relative;
}

/* smaller circle within cloud */
.cloud:before {
  content: "";
  position: absolute;
  top: -2vw;
  height: 6vw;
  width: 6vw;
  left: 2vw;
  border-radius: 50%;
  background: white;
}

/* larger circle within cloud */
.cloud:after {
  content: "";
  position: absolute;
  height: 6vw;
  width: 6vw;
  top: -3vw;
  left: 5vw;
  border-radius: 50%;
  background: white;
}

#clouds .cloud:nth-child(1) {
  opacity: 0.7;
  animation: moveclouds 17s linear infinite;
  -webkit-animation: moveclouds 17s linear infinite;
  -moz-animation: moveclouds 17s linear infinite;
  -o-animation: moveclouds 17s linear infinite;
}
#clouds .cloud:nth-child(2) {
  left: 75%;
  opacity: 0.5;
  animation: moveclouds 22s linear infinite;
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
#clouds .cloud:nth-child(3) {
  left: 50%;
  z-index: 1;
  animation: moveclouds 15s linear infinite;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}
#clouds .cloud:nth-child(4) {
  left: 90%;
  opacity: 0.7;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  animation: moveclouds 16s linear infinite;
  -webkit-animation: moveclouds 16s linear infinite;
  -moz-animation: moveclouds 16s linear infinite;
  -o-animation: moveclouds 16s linear infinite;
}
#clouds .cloud:nth-child(5) {
  left: 100%;
  opacity: 0.4;
  z-index: 1;

  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);

  animation: moveclouds 22s linear infinite;
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
@keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
