.holder {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 50%;
    left: 0px;
    background-color: #EBE5DF;
}

.flying-notes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.flying-notes .note {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100px;
    height: 100px;
    animation: wobble 1s infinite;
    transform-origin: 50% 100%;
}

.flying-notes .still_note {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100px;
    height: 100px;
    transform-origin: 50% 100%;
}

@keyframes wobble {
    0% {
        transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-10deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-5deg);
    }

    40% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(-3.3333333333deg);
    }

    60% {
        transform: rotateZ(3.3333333333deg);
    }

    70% {
        transform: rotateZ(-2.5deg);
    }

    80% {
        transform: rotateZ(2.5deg);
    }

    90% {
        transform: rotateZ(-2deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.flying-notes .note svg {
    width: 100%;
    height: 100%;
}

.flying-notes .note.note1 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note1 5.7s infinite linear;
    animation-delay: 0s;
}

@keyframes note1 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 26px;
        top: -83px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 49px;
    }

    35% {
        left: 26px;
        top: -83px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 49px;
    }

    100% {
        left: 26px;
        top: -83px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note2 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note2 5.7s infinite linear;
    animation-delay: 1s;
}

@keyframes note2 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 44px;
        top: -50px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 35px;
    }

    35% {
        left: 44px;
        top: -50px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 35px;
    }

    100% {
        left: 44px;
        top: -50px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note3 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note3 5.7s infinite linear;
    animation-delay: 2s;
}

@keyframes note3 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 25px;
        top: 10px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 50px;
    }

    35% {
        left: 25px;
        top: 10px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 50px;
    }

    100% {
        left: 25px;
        top: 10px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note4 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note4 5.7s infinite linear;
    animation-delay: 3s;
}

@keyframes note4 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 36px;
        top: -18px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 42px;
    }

    35% {
        left: 36px;
        top: -18px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 42px;
    }

    100% {
        left: 36px;
        top: -18px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note5 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note5 5.7s infinite linear;
    animation-delay: 4s;
}

@keyframes note5 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 42px;
        top: -37px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 36px;
    }

    35% {
        left: 42px;
        top: -37px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 36px;
    }

    100% {
        left: 42px;
        top: -37px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note6 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note6 5.7s infinite linear;
    animation-delay: 5s;
}

@keyframes note6 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 10px;
        top: -82px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 38px;
    }

    35% {
        left: 10px;
        top: -82px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 38px;
    }

    100% {
        left: 10px;
        top: -82px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note7 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note7 5.7s infinite linear;
    animation-delay: 6s;
}

@keyframes note7 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 25px;
        top: -16px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 50px;
    }

    35% {
        left: 25px;
        top: -16px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 50px;
    }

    100% {
        left: 25px;
        top: -16px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note8 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note8 5.7s infinite linear;
    animation-delay: 7s;
}

@keyframes note8 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: -6px;
        top: 36px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 39px;
    }

    35% {
        left: -6px;
        top: 36px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 39px;
    }

    100% {
        left: -6px;
        top: 36px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note9 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note9 5.7s infinite linear;
    animation-delay: 8s;
}

@keyframes note9 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 19px;
        top: -76px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 48px;
    }

    35% {
        left: 19px;
        top: -76px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 48px;
    }

    100% {
        left: 19px;
        top: -76px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}

.flying-notes .note.note10 {
    position: absolute;
    opacity: 0;
    width: 100px;
    animation: note10 5.7s infinite linear;
    animation-delay: 9s;
}

@keyframes note10 {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;
        transform: rotateY(0deg);
    }

    20% {
        left: 38px;
        top: -82px;
        opacity: 0.8;
        transform: rotateY(720deg);
        width: 28px;
    }

    35% {
        left: 38px;
        top: -82px;
        opacity: 0;
        transform: rotateY(1080deg);
        width: 28px;
    }

    100% {
        left: 38px;
        top: -82px;
        opacity: 0;
        transform: rotateY(0deg);
    }
}