#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background: #4ae9b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ae9b9, #97cfca); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ae9b9, #97cfca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
}

.terminal-window {
  text-align: left;
  width: 50%;/**37.5rem;**/
  height: 26.5rem;
  border-radius: .625rem;
  margin: auto;
  position: relative;
  /**top: 5rem;**/
  box-shadow: 30px -16px teal;
}

.terminal-window header {
  background: #E0E8F0;
  height: 1.875rem;
  border-radius: .5rem .5rem 0 0;
  padding-left: .625rem;
}

.terminal-window header .button {
  width: .75rem;
  height: .75rem;
  margin: .625rem .25rem 0 0;
  display: inline-block;
  border-radius: .5rem;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: .625rem;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 1.875rem;
  bottom: 0;
  overflow: auto;
  /**border-radius: inherit;**/
}

/** .terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}**/
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terminal-data {
  display: none;
}

.terminal-window .gray {
  color: gray;
}

.terminal-window .green {
  color: green;
}

/*Media for mobile responsive viewing*/
@media only screen and (max-width: 600px) {
  input{
    font-size: 100% !important;
  }
  .terminal{
    font-size: 150% !important;
  }
  .title {
    font-size: 250% !important;
  }
  .terminal-window {
    text-align: left;
    width: 100%;
    border-radius: .625vmin;
    margin: auto;
    position: relative;
    /* top: 30.5vmin; */
  }
  .terminal-window header {
    background: #E0E8F0;
    height: 1.875vmin;
    border-radius: .5vmin .5vmin 0 0;
    padding-left: 1vmin;
  }
  .terminal-window header .button {
    width: .75vmin;
    height: .75vmin;
    margin: .625vmin .25vmin 0 0;
    display: inline-block;
    border-radius: .5vmin;
  }
  .terminal-window header .button.green {
    background: #3BB662;
  }
  .terminal-window header .button.yellow {
    background: #E5C30F;
  }
  .terminal-window header .button.red {
    background: #E75448;
  }
  .terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    /* font-size: .6875vmin; */
    background: #30353A;
    padding: .625vmin;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 1.875vmin;
    bottom: 0;
    overflow: auto;
  }
  footer {
    /* make it small */
    font-size: 2.5vmin !important;
    /* make it stick to the bottom */
    position: fixed !important;
    bottom: 0 !important;
    /* give it some width */
    width: 100% !important;
    /* center it */
    text-align: center !important;
    /* remove padding */
    padding: 0 !important;

  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terminal-data {
  display: none;
}

.terminal-window .gray {
  color: gray;
}

.terminal-window .green {
  color: green;
}

input {
  border: 0;
  background: transparent;
  color: white;
  outline: none;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  width: 90%;
}

.terminal a:visited {
  color: pink;
}

.terminal a {
  color: white;
}

.info {
  width: 40%;
  min-width: 300px;
  margin: auto;
  color: #333;
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: courier;
}

.title {
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
  text-align: center;
  font-size: 400%;

  font-family: courier;
}


footer {
  background-color: #f2f1ed;
  text-align: center;
  display: block;
  padding: 24px 48px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  font-family: 'Lisetta';
  font-size: xx-large;
}

@media (max-width: 500px) {
  footer {
    padding-left: 48px;
    padding-right: 48px
  }
}